# Dependencies
node_modules/

# Production builds
dist/
dist-ssr/

# Reference images and examples
examples/
example/

# Local env & IDE
*.local
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
